<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGY-HnNCcFjCPpX7CUk2UeTuLFr9FsdbU</string>
	<key>GCM_SENDER_ID</key>
	<string>284580760719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gunstudy</string>
	<key>PROJECT_ID</key>
	<string>gunstudyauth</string>
	<key>STORAGE_BUCKET</key>
	<string>gunstudyauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284580760719:ios:87de74d333801e4f8534fa</string>
</dict>
</plist>